<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <%= @census_count.area_id %>
</p>

<p>
  <b>Male:</b>
  <%= @census_count.male %>
</p>

<p>
  <b>Female:</b>
  <%= @census_count.female %>
</p>

<p>
  <b>Totpop:</b>
  <%= @census_count.totpop %>
</p>

<p>
  <b>Tot16to74:</b>
  <%= @census_count.tot16to74 %>
</p>

<p>
  <b>Totadult:</b>
  <%= @census_count.totadult %>
</p>

<p>
  <b>Totemploy:</b>
  <%= @census_count.totemploy %>
</p>


<%= link_to 'Edit', edit_census_count_path(@census_count) %> |
<%= link_to 'Back', census_counts_path %>
